torch==1.8.1
torchvision==0.9.1

aiogram
transformers==4.4.2
boto==2.49.0
boto3==1.9.214
botocore==1.12.214
cdqa==1.1.0
Cython==0.29.22
Flask==1.1.1
Flask-Cors==3.0.8
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
 
notebook==6.0.1
numpy==1.20.2
pytorch-nlp==0.4.1
regex==2019.8.19

